<input type="file" id="excelFileInput"/>
<button class="btn btn-outline-primary" onclick="uploadExcel()">Upload Excel</button>

<a class="btn btn-outline-success" asp-area="Admin" asp-controller="Sale" asp-action="Create" style='width:100px;margin-left:10px;margin-bottom:10px'>Create</a>
<div id="grid"></div>
@section Scripts {
    <script>
        function uploadExcel() {
            var fileInput = document.getElementById("excelFileInput");
            var file = fileInput.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = new Uint8Array(e.target.result);
                    var workbook = XLSX.read(data, { type: 'array' });
                    var jsonData = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], { header: 1 });
                    var jsonString = convertArrayToKeyValue(jsonData);
                    console.log(jsonString);
                    sendToServer(jsonString);
                }
                reader.readAsArrayBuffer(file);
            }
        }
        function convertArrayToKeyValue(jsonArray) {
            var result = [];
            var keys = jsonArray[0];
            for (var i = 1; i < jsonArray.length; i++) {
                var obj = {};
                for (var j = 0; j < keys.length; j++) {
                    obj[keys[j]] = jsonArray[i][j];
                }
                result.push(obj);
            }
            return result;
        }
        function sendToServer(jsonString){
            $.ajax({
                type: 'POST',
                url: "https://localhost:7258/admin/Sale/LoadExcel",
                contentType:'application/json',
                data: JSON.stringify(jsonString),
                success: function () {
                    location.reload();
                },
                error: function(error){
                    console.error('Error sending data to server: ', error);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "https://localhost:7258/admin",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Sale/GetSales",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 10,
                    schema: {
                        model: {
                            id: "saleId",
                            fields: {
                                saleId: { type: "number", editable: false, nullable: false },
                                productId: { type: "number" },
                                productName: { type: "string" },
                                quantity: { type: "number" },
                                unitPrice: { type: "int" },
                                createdDate: { type: "date", editable: false },
                                modifiedDate: { type: "date", editable: false },
                                createdBy: { type: "string" },
                                modifiedBy: { type: "string" },
                                isDeleted: { type: "boolean" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type === "destroy") {
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    remove: function (e) {
                        e.model.isDeleted = true;
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });
            $("#grid").kendoGrid({
                contextMenu: true,
                persistSelection: true,
                dataSource: dataSource,
                selectable: "multiple, rows",
                sortable: true,
                reorderable: {
                    rows: true
                },
                pageable: true,
                height: 600,
                toolbar: ["search"],
                search: {
                    fields: ["productName"]
                },
                columns: [
                    { field: "productName", title: "Tên sản phẩm" },
                    { field: "quantity", title: "Số lượng" },
                    { field: "unitPrice", title: "Đơn giá", template: "#= currencyFormat(data)#" },
                    { field: "createdDate", title: "Ngày tạo", format: "{0:g}" },
                    { field: "modifiedDate", title: "Ngày sửa", format: "{0:g}" },
                    {
                        command: [
                            {
                                name: "edit",
                                text: { edit: "Edit", cancel: "Cancel", update: "Update" },
                                template: "<a class='btn btn-outline-primary k-grid-edit' href='\\#' style='width:100px'>Edit</a>",
                                click: function (e) {
                                    e.preventDefault();
                                    var grid = $("#grid").data("kendoGrid");
                                    var dataItem = grid.dataItem($(e.target).closest("tr"));
                                    var editUrl = crudServiceBaseUrl + "/Sale/Edit/" + dataItem.saleId;
                                    window.location.href = editUrl;
                                }
                            },
                            {
                                name: "delete",
                                template: "<a class='btn btn-outline-danger k-grid-delete' href='\\#' style='width:100px;margin-left:10px'>Delete</a>",
                                click: function (e) {
                                    e.preventDefault();
                                    var grid = $("#grid").data("kendoGrid");
                                    var dataItem = grid.dataItem($(e.target).closest("tr"));
                                    var confirmed = confirm("Are you sure you want to delete this item?");

                                    if (confirmed) {
                                        console.log("Delete button clicked");
                                        console.log("Data Item:", dataItem);
                                        $.ajax({
                                            url: crudServiceBaseUrl + "/Sale/DeleteSale",
                                            type: "POST",
                                            contentType: "application/json",
                                            data: JSON.stringify(dataItem),
                                            success: function (response) {
                                                console.log("Delete successful", response);
                                                $("#grid").data("kendoGrid").dataSource.read();
                                            },
                                            error: function (error) {
                                                console.error("Delete failed", error);
                                            }
                                        });
                                    }
                                }
                            },
                        ], title: "&nbsp;", width: "250px", exportable: false
                    }
                ],
                dataBound: function (e) {
                    e.sender.tbody.find("tr").each(function () {
                        var dataItem = e.sender.dataItem(this);
                        if (dataItem.isDeleted) {
                            $(this).css("opacity", "0.5");
                            var commandCell = $(this).find(".k-command-cell");
                            commandCell.empty().append("<span style='color: red;'>Is Deleted</span>");
                        }
                    });
                }
            });
        });
        function currencyFormat(data) {
            return kendo.toString(data.unitPrice, "###,## VND");
        }
    </script>
    <script>
        // Function to close the popup editor
        function closePopup() {
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
        }
    </script>
}
