@model IEnumerable<InventoryDTO>
<div class="d-flex">
    <div id="pieChart"></div>
    <div id="pieChart2"></div>
    <div id="pieChart3"></div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var modelData = @Html.Raw(Json.Serialize(Model));
            console.log(modelData);
            // var jsonData = [
            //     { category: "Category 1", value: 30 },
            //     { category: "Category 2", value: 45 },
            //     { category: "Category 3", value: 25 }
            // ];

            // Cấu hình biểu đồ
            $("#pieChart").kendoChart({
                title: {
                    text: "Total Product"
                },
                legend: {
                    position: "bottom"
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "totalImport",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    template: "#= value #"
                }
            });
            $("#pieChart2").kendoChart({
                title: {
                    text: "Delivered Product"
                },
                legend: {
                    position: "bottom"
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "delivered",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    format: "{0}%"
                }
            });
            $("#pieChart3").kendoChart({
                title: {
                    text: "Remaining Product"
                },
                legend: {
                    position: "bottom"
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "remaining",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    format: "{0}%"
                }
            });
        });
    </script>

}
   