<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Mock OJT</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/kendo/default-main.css" />
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/slick-theme.css" />
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/nouislider.min.css" />
	<!-- font awesome icon -->
	<link rel="stylesheet" href="~/userStyle/css/font-awesome.min.css">
	<!-- custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/style.css" />
	<script src="~/kendo/jquery-3.7.0.min.js"></script>
	<script src="~/kendo/jszip.min.js"></script>
	<script src="~/kendo/kendo.all.min.js"></script>
	<script src="~/js/kendo-ui-license.js"></script>
</head>
<body>
	<header>
		<partial name="_Header" />
	</header>
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a asp-action="ViewStore" asp-controller="Product">Store</a></li>
					<li><a href="#">Laptops</a></li>
					<li><a href="#">Smartphones</a></li>
					<li><a href="#">Cameras</a></li>
					<li><a href="#">Accessories</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer id="footer">
		<partial name="_Footer" />
	</footer>
	<script src="~/userStyle/js/jquery.min.js"></script>
	<script src="~/userStyle/js/bootstrap.min.js"></script>
	<script src="~/userStyle/js/slick.min.js"></script>
	<script src="~/userStyle/js/nouislider.min.js"></script>
	<script src="~/userStyle/js/jquery.zoom.min.js"></script>
	<script src="~/userStyle/js/main.js"></script>
	

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
