<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Mock OJT</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/kendo/default-main.css" />
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/slick-theme.css" />
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/nouislider.min.css" />
	<!-- font awesome icon -->
	<link rel="stylesheet" href="~/userStyle/css/font-awesome.min.css">
	<!-- custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/userStyle/css/style.css" />
	<script src="~/kendo/jquery-3.7.0.min.js"></script>
	<script src="~/kendo/jszip.min.js"></script>
	<script src="~/kendo/kendo.all.min.js"></script>
	<script src="~/js/kendo-ui-license.js"></script>
</head>
<body>
	<header>
		<partial name="_Header" />
	</header>
	<header>
		<partial name="CategoryPartial" />
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer id="footer">
		<partial name="_Footer" />
	</footer>
	<script type="text/javascript">
		(function (d, m) {
			var kommunicateSettings =
				{ "appId": "28c278b2f350af41dc08f23399f2cce05", "popupWidget": true, "automaticChatOpenOnNavigation": true };
			var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
			s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
			var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
			window.kommunicate = m; m._globals = kommunicateSettings;
		})(document, window.kommunicate || {});
		/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
	</script>
	<script src="~/userStyle/js/jquery.min.js"></script>
	<script src="~/userStyle/js/bootstrap.min.js"></script>
	<script src="~/userStyle/js/slick.min.js"></script>
	<script src="~/userStyle/js/nouislider.min.js"></script>
	<script src="~/userStyle/js/jquery.zoom.min.js"></script>
	<script src="~/userStyle/js/main.js"></script>
	

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
