@model ProductDTO

<div id="validation-success"></div>
<h3>Update Product</h3>
<div class="d-flex">
    <div class="form-container" style="width:65%">
        <form id="exampleform" enctype="multipart/form-data">
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var validationSuccess = $("#validation-success");
            var categoriesData = @Html.Raw(Json.Serialize(ViewBag.ListCate));
            var modelData = @Html.Raw(Json.Serialize(Model));
            
            const parser = new DOMParser()
            const html = parser.parseFromString(modelData.productDetail, 'text/html');

            $("#exampleform").kendoForm({
                orientation: "horizontal",
                formData: {
                    productId: modelData.productId,
                    productName: modelData.productName,
                    memory: modelData.memory,
                    productDetail: html.body.firstChild.data,
                    priceOld: modelData.priceOld,
                    priceNew: modelData.priceNew,
                    isPublished: modelData.isPublished,
                    categoryName: modelData.categoryId,
                    imageProduct: modelData.imageProduct,
                },
                dataBound: function (e) {
                    // Set initial values
                    $("#exampleform").find("[name='imageProduct']").val(modelData.imageProduct);
                    $("#exampleform").find("[name='categoryName']").data("kendoDropDownList").value(modelData.categoryId);
                },
                buttonsTemplate: "<div style='width:200px; display:flex; justify-content:space-evenly'><button type='submit' class='btn btn-primary'>Submit</button><button type='button' class='btn btn-danger' onclick='cancelForm()'>Cancel</button></div>",
                items: [
                    {
                        field: "productName",
                        label: "Product Name:",
                        validation: { required: true },
                        editor: "TextBox"
                    },
                    {
                        field: "memory",
                        label: "Memory:",
                        validation: { required: true },
                        editor: "TextBox"
                    },
                    {
                        field: "productDetail",
                        label: "Details:",
                        editor: function (container, options) {
                            $("<textarea id = 'productDetail' name='" + options.field + "' required></textarea>").appendTo(container)
                                .kendoEditor({
                                    tools: [
                                        "bold",
                                        "italic",
                                        "underline",
                                        "strikethrough",
                                        "justifyLeft",
                                        "justifyCenter",
                                        "justifyRight",
                                        "justifyFull",
                                        "insertUnorderedList",
                                        "insertOrderedList",
                                        "indent",
                                        "outdent",
                                        "createLink",
                                        "unlink",
                                        "insertImage",
                                        "subscript",
                                        "superscript",
                                        "fontName",
                                        "fontSize",
                                        "foreColor",
                                        "backColor",
                                        "formatBlock",
                                        "removeFormat",
                                        "insertHtml",
                                        "viewHtml",
                                        "cleanFormatting",
                                        "insertTable",
                                        "addColumnLeft",
                                        "addColumnRight",
                                        "addRowAbove",
                                        "addRowBelow",
                                        "deleteRow",
                                        "deleteColumn",
                                        "mergeCells",
                                        "splitCell",
                                        "selectAll",
                                        "cut",
                                        "copy",
                                        "paste",
                                        "undo",
                                        "redo"
                                    ]
                                });
                            container.find(".k-editor").css({
                                "width": "800px",   // Điều chỉnh chiều rộng
                                "height": "600px"   // Điều chỉnh chiều cao
                            });
                        }
                    },
                    {
                        field: "priceOld",
                        label: "Price Old:",
                        validation: { required: true },
                        editor: "NumericTextBox"
                    },
                    {
                        field: "priceNew",
                        label: "Price New:",
                        validation: { required: true },
                        editor: "NumericTextBox"
                    },
                    {
                        field: "imageProduct",
                        label: "Product Image:",
                        editor: function (container, options) {
                            // Display the existing image
                            $("<img src='" + modelData.imageProduct + "' style='max-width: 200px; max-height: 200px;'/>").appendTo(container);

                            // Add the file input for updating the image
                            $("<input type='file' name='" + options.field + "' accept='image/*'/>").appendTo(container);
                        }
                    },
                    {
                        field: "isPublished",
                        label: "Published",
                        editor: "Switch"
                    },
                    {
                        field: "categoryName",
                        label: "Category:",
                        validation: { required: true },
                        editor: function (container, options) {
                            $("<input name='" + options.field + "' required/>").appendTo(container)
                                .kendoDropDownList({
                                    dataTextField: "categoryName",
                                    dataValueField: "categoryId",
                                    dataSource: categoriesData
                                });
                        }
                    }
                ],
                toolbar: [
                    { name: "clear", text: "Cancel", iconClass: "k-icon k-i-cancel" }
                ],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                submit: function (e) {
                    e.preventDefault();
                    var formData = new FormData();
                    var imageProductInput = $("#exampleform").find("[name='imageProduct']");

                    formData.append("productId", modelData.productId);
                    formData.append("productName", $("#exampleform").find("[name='productName']").val());
                    formData.append("memory", $("#exampleform").find("[name='memory']").val());
                    formData.append("productDetail", $("#exampleform").find("[name='productDetail']").val());
                    formData.append("priceOld", $("#exampleform").find("[name='priceOld']").val());
                    formData.append("priceNew", $("#exampleform").find("[name='priceNew']").val());
                    formData.append("isPublished", $("#exampleform").find("[name='isPublished']").is(":checked"));
                    formData.append("categoryId", $("#exampleform").find("[name='categoryName']").data("kendoDropDownList").value());
                    formData.append("imageProduct", modelData.imageProduct);
                    // Check if a new image is selected
                    if (imageProductInput[0].files.length > 0) {
                        formData.append("imageProductFile", imageProductInput[0].files[0]);
                    }
                    console.log(formData);
                    $.ajax({
                        url: "/admin/product/UpdateProduct",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            console.log(response);
                            window.location.href = response.redirectUrl;
                        },
                        error: function (error) {
                            console.error("Error uploading image:", error);
                        }
                    });
                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });
        });
        function cancelForm() {
            window.location.href = "/admin/product/Index";
        }
    </script>
    <style>
        .k-list-horizontal {
            margin-top: 5px;
        }
    </style>
}

