<h2 class="text-center font-weight-bold my-3">Danh sách sản phẩm</h2>
<a class="btn btn-outline-success" asp-area="Admin" asp-controller="Product" asp-action="Create" style='width:100px;margin-left:10px;margin-bottom:10px'>Create</a>
<div id="grid"></div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "https://localhost:7258/admin",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Product/GetProducts",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 3,
                    schema: {
                        model: {
                            id: "productId",
                            fields: {
                                productId: { type: "number", editable: false, nullable: false },
                                productName: {
                                    type: "string",
                                    validation: {
                                        required: {
                                            message: "Please enter Product Name"
                                        }
                                    }
                                },
                                memory: { type: "string" },
                                priceOld: { type: "int" },
                                priceNew: { type: "int" },
                                imageProduct: { type: "string" },
                                productDetail: {type:"string"},
                                createdDate: { type: "date", editable: false },
                                modifiedDate: { type: "date", editable: false },
                                createdBy: { type: "string" },
                                modifiedBy: { type: "string" },
                                categoryId: { type: "int" },
                                categoryName: { type: "string" },
                                isPublished: { type: "boolean" },
                                isDeleted: { type: "boolean" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type === "destroy" || e.type === "update" || e.type === "create") {
                            // Refresh the grid
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    remove: function (e) {
                        // Add isDeleted property to the data item
                        e.model.isDeleted = true;
                        // Refresh the grid
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });
            $("#grid").kendoGrid({
                contextMenu: true,
                persistSelection: true,
                dataSource: dataSource,
                selectable: "multiple, rows",
                sortable: true,
                reorderable: {
                    rows: true
                },
                pageable: true,
                height: 550,
                toolbar: ["search"],
                search: {
                    fields: ["productName", "isPublished", "memory", "categoryName"]
                },
                columns: [
                    { field: "productName", title: "Tên sản phẩm" },
                    { field: "categoryName", title: "Loại" },
                    { field: "memory", title: "Dung lượng" },
                    { field: "priceOld", title: "Giá cũ", template: "#= currencyOld(data)#" },
                    { field: "priceNew", title: "Giá mới", template: "#= currencyNew(data)#" },
                    {
                        field: "imageProduct",
                        title: "Ảnh sản phẩm",
                        template: function (data) {
                            return "<div class='product-photo'><img src='" + data.imageProduct + "' style='max-width: 100%; max-height: 100%;'/></div>";
                        }
                    },
                    { field: "createdDate", title: "Ngày tạo", format: "{0:g}" },
                    { field: "modifiedDate", title: "Ngày sửa", format: "{0:g}" },
                    {
                        "field": "isPublished",
                        "title": "Phát hành",
                        "template": function (dataItem) {
                            if (dataItem.isPublished) {
                                return kendo.ui.icon({ icon: 'check-outline' });
                            } else {
                                return kendo.ui.icon({ icon: 'x-circle' });
                            }
                        },
                        width: 120
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: { edit: "Edit", cancel: "Cancel", update: "Update" },
                                template: "<a class='btn btn-outline-primary k-grid-edit' href='\\#' style='width:100px'>Edit</a>",
                                click: function (e) {
                                    e.preventDefault();
                                    var grid = $("#grid").data("kendoGrid");
                                    var dataItem = grid.dataItem($(e.target).closest("tr"));
                                    var editUrl = crudServiceBaseUrl + "/Product/Edit/" + dataItem.productId;
                                    window.location.href = editUrl;
                                }
                            },
                            {
                                name: "delete",
                                template: "<a class='btn btn-outline-danger k-grid-delete' href='\\#' style='width:100px;margin-left:10px'>Delete</a>",
                                click: function (e) {
                                    e.preventDefault();
                                    var grid = $("#grid").data("kendoGrid");
                                    var dataItem = grid.dataItem($(e.target).closest("tr"));
                                    var confirmed = confirm("Are you sure you want to delete this item?");

                                    if (confirmed) {
                                        console.log("Delete button clicked");
                                        console.log("Data Item:", dataItem);
                                        $.ajax({
                                            url: crudServiceBaseUrl + "/Product/DeleteProduct",
                                            type: "POST",
                                            contentType: "application/json",
                                            data: JSON.stringify(dataItem),
                                            success: function (response) {
                                                console.log("Delete successful", response);
                                                $("#grid").data("kendoGrid").dataSource.read();
                                            },
                                            error: function (error) {
                                                console.error("Delete failed", error);
                                            }
                                        });
                                    }
                                }
                            },
                            // {
                            //     name: "image",
                            //     template: "<a class='btn btn-outline-secondary k-grid-image' href='\\#' style='width:150px;margin-top:10px;margin-left:40px'>Add Image</a>",
                            //     click: function (e) {
                            //         e.preventDefault();
                            //         var grid = $("#grid").data("kendoGrid");
                            //         var dataItem = grid.dataItem($(e.target).closest("tr"));
                            //         var editUrl = crudServiceBaseUrl + "/Product/ImageProduct/" + dataItem.productId;
                            //         window.location.href = editUrl;
                            //     }
                            // }
                        ], title: "&nbsp;", width: "250px", exportable: false
                    }
                ],
                dataBound: function (e) {
                    e.sender.tbody.find("tr").each(function () {
                        var dataItem = e.sender.dataItem(this);
                        if (dataItem.isDeleted) {
                            $(this).css("opacity", "0.5");
                            var commandCell = $(this).find(".k-command-cell");
                            commandCell.empty().append("<span style='color: red;'>Is Deleted</span>");
                        }
                    });
                }
            });

        });
        function convertDataItemToJson(dataItem) {
            return {
                productId: dataItem.productId,
                productName: dataItem.productName,
                memory: dataItem.memory,
                priceOld: dataItem.priceOld,
                priceNew: dataItem.priceNew,
                productDetail: dataItem.productDetail,
                createdDate: dataItem.createdDate,
                modifiedDate: dataItem.modifiedDate,
                createdBy: dataItem.createdBy,
                modifiedBy: dataItem.modifiedBy,
                isPublished: dataItem.isPublished,
                isDeleted: dataItem.isDeleted,
                categoryId: dataItem.categoryId,
                categoryName: dataItem.categoryName,
                imageProduct: dataItem.imageProduct
            };
        }
        function currencyOld(data) {
            return kendo.toString(data.priceOld, "###,## VND")
        }
        function currencyNew(data) {
            return kendo.toString(data.priceNew, "###,## VND")
        }
    </script>
    <script>
        // Function to close the popup editor
        function closePopup() {
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
        }
    </script>
}