<div id="grid"></div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "https://localhost:7258/admin",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Category/GetCategory",
                            dataType: "json"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/Category/CreateCategory",
                            dataType: "json",
                            contentType: "application/json",
                            type: "POST"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/Category/UpdateCategory",
                            dataType: "json",
                            contentType: "application/json",
                            type: "POST"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/Category/DeleteCategory",
                            dataType: "json",
                            contentType: "application/json",
                            type: "POST",
                            success: function(){
                                toastr.success("Category deleted successfully!");
                            }
                        },
                        parameterMap: function (options, operation) {
                            if (operation === "create" && options.models) {
                                return kendo.stringify(options.models[0]);
                            }
                            if (operation === "update" && options.models) {
                                return kendo.stringify(options.models[0]);
                            }
                            if (operation === "destroy" && options.models) {
                                return kendo.stringify(options.models[0]);
                            }
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 5,
                    schema: {
                        model: {
                            id: "categoryId",
                            fields: {
                                categoryId: { type: "number", editable: false, nullable: false },
                                categoryName: {
                                    type: "string",
                                    validation: {
                                        required: {
                                            message: "Please enter Category Name"
                                        }
                                    }
                                },
                                createdDate: { type: "date", editable: false },
                                modifiedDate: { type: "date", editable: false },
                                isPublished: { type: "boolean" },
                                isDeleted: { type: "boolean" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type === "destroy" || e.type === "update" || e.type === "create") {
                            // Refresh the grid
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    remove: function (e) {
                        // Add isDeleted property to the data item
                        e.model.isDeleted = true;
                        // Refresh the grid
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });

            $("#grid").kendoGrid({
                contextMenu: true,
                persistSelection: true,
                dataSource: dataSource,
                selectable: "multiple, rows",
                sortable: true,
                reorderable: {
                    rows: true
                },
                pageable: true,
                height: 450,
                toolbar: ["create", "search"],
                search: {
                    fields: ["categoryName", "isPublished"]
                },
                columns: [
                    { field: "categoryName", title: "Category Name" },
                    { field: "createdDate", title: "Created Date", width: "240px", format: "{0:g}" },
                    { field: "modifiedDate", title: "Modified Date", width: "240px", format: "{0:g}" },
                    { 
                        field: "isPublished", 
                        title: "Published",
                        template: function (dataItem) {
                            if (dataItem.isPublished) {
                                return kendo.ui.icon({ icon: 'check-outline'});
                            } else {
                                return kendo.ui.icon({ icon: 'x-circle'});
                            }
                        },
                        width: 120
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: { edit: "Edit", cancel: "Cancel", update: "Update"},
                                click: function (e) {
                                    // Custom edit command
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.editRow($(e.currentTarget).closest("tr"));
                                }
                            },
                            {
                                name: "delete",
                                text: "Delete",
                                click: function (e) {
                                    // Custom delete command
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.removeRow($(e.currentTarget).closest("tr"));
                                }
                            }
                        ], title: "&nbsp;", width: "250px", exportable: false
                    }
                ],
                editable: {
                    mode: "popup",
                    // window: {
                    //     title:"Create Category",
                    //     template: kendo.template($("#customCreateTemplate").html())
                    // }
                },
                dataBound: function (e) {
                    // Disable edit and delete buttons for deleted items
                    e.sender.tbody.find("tr").each(function () {
                        var dataItem = e.sender.dataItem(this);
                        if (dataItem.isDeleted) {
                            $(this).css("opacity", "0.5");
                            var commandCell = $(this).find(".k-command-cell");
                            commandCell.empty().append("<span style='color: red;'>Is Deleted</span>");
                        }
                    });
                }
            });
        });
    </script>
    <script id="customCreateTemplate" type="text/x-kendo-template">
        <div>
            <h4>Custom Create Title</h4>
            <div>
                <label for="categoryName">Category Name:</label>
                <input type="text" id="categoryName" name="categoryName" class="k-input" required/>
            </div>
            <div>
                <label for="isPublished">Is Published:</label>
                <input type="checkbox" id="isPublished" name="isPublished" class="k-checkbox" />
            </div>
            <div class="k-edit-buttons k-state-default">
                <a role="button" class="k-button k-button-icontext k-primary k-grid-update" href="#">
                    <span class="k-icon k-update"></span>Custom Save
                </a>
                <a role="button" class="k-button k-button-icontext k-grid-cancel" href="#">
                    <span class="k-icon k-cancel"></span>Custom Cancel
                </a>
            </div>
        </div>
    </script>

}
